<div
  class="max-w-xl mx-auto mt-10 p-6 bg-white rounded-md shadow-md dark:bg-gray-700"
>
  <h2 class="text-2xl font-semibold mb-5 dark:text-white">
    Formulario de Postulacion
  </h2>
  <form>
    <div class="mb-4">
      <label class="block text-sm font-medium text-gray-600 dark:text-gray-200"
        >Nombre de la Asignatura</label
      >
      <div
        class="border h-10 flex items-center pl-2 text-gray-500 bg-white rounded"
      >
        {{ getAsignatura(idAyudantia || 0)?.nombre }}
      </div>
    </div>

    <div class="mb-4">
      <label class="block text-sm font-medium text-gray-600 dark:text-gray-200"
        >Código</label
      >
      <div
        class="border h-10 flex items-center pl-2 text-gray-500 bg-white rounded"
      >
        {{ getAsignatura(idAyudantia || 0)?.codigo }}
      </div>
    </div>

    <div class="mb-4">
      <label class="block text-sm font-medium text-gray-600 dark:text-gray-200"
        >Nombre Completo Estudiante</label
      >
      <div
        class="border h-10 flex items-center pl-2 text-gray-500 bg-white rounded"
      >
        {{ nombreEstudiante }}
      </div>
    </div>

    <div class="mb-4">
      <label
        for="prioridad"
        class="block text-sm font-medium text-gray-600 dark:text-gray-200"
        >Prioridad</label
      >
      <select
        id="prioridad"
        name="prioridad"
        class="mt-1 p-2 w-full border rounded-md"
        [ngModel]="solicitud.prioridad"
        (ngModelChange)="cambiarPrioridadSolicitud($event)"
      >
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
      </select>
    </div>

    <div class="mb-4">
      <label
        class="block text-sm font-medium text-gray-600 dark:text-gray-200"
        for="promedio"
        >Promedio de Asignatura</label
      >
      <input
        type="number"
        class="mt-1 p-2 w-full border rounded-md"
        id="promedio"
        name="promedio"
        [(ngModel)]="solicitud.promedio_asignatura"
      />
    </div>

    <div class="mb-4">
      <label class="flex items-center">
        <input
          type="checkbox"
          class="mr-2"
          id="anteriormente_ayudante"
          name="anteriormente_ayudante"
          [(ngModel)]="solicitud.anteriormente_ayudante"
        />
        <span class="text-sm font-medium text-gray-600 dark:text-gray-200"
          >Anteriormente Ayudante</span
        >
      </label>
    </div>

    <button
      type="submit"
      class="w-full bg-blue-600 text-white p-3 rounded-md hover:bg-blue-700"
      (click)="Postular()"
    >
      Postular
    </button>
  </form>
</div>
