<div class="container m-auto py-6 px-8">
  <!-- container m-auto | w-full -->

  <div class="flex flex-col w-full bg-white rounded-lg shadow-md pt-4 pb-2 dark:bg-gray-800">
    <h3 class="text-xl text-gray-900 font-semibold px-6 mb-4 dark:text-gray-200">
      Solicitudes de ayudantias
    </h3>

    <div class="w-full overflow-x-auto">
      <table class="w-full border-collapse">
        <thead class="text-sm text-white uppercase font-semibold bg-gray-800 dark:bg-gray-600 dark:text-gray-300">
          <tr>
            <th
              scope="col" class="px-6 py-3 whitespace-nowrap text-left"
            >
              N°
            </th>
            <th
              scope="col" class="px-6 py-3 whitespace-nowrap text-left"
            >
              Profesor
            </th>
            <th
              scope="col" class="px-6 py-3 whitespace-nowrap text-left"
            >
              RUT
            </th>
            <th
              scope="col" class="px-6 py-3 whitespace-nowrap text-left"
            >
              ASIGNATURA
            </th>
            <th
              scope="col" class="px-4 py-3 whitespace-nowrap text-center"
            >
              GRUPO
            </th>
            <th
              scope="col" class="px-4 py-3 whitespace-nowrap text-center"
            >
              CUPO
            </th>
            <th
              scope="col" class="px-4 py-3 whitespace-nowrap text-center"
            >
              HORAS
            </th>
            <th
              scope="col" class="px-4 py-3 whitespace-nowrap text-center"
            >
              ESTADO
            </th>
          </tr>
        </thead>

        <tbody class="text-sm dark:text-gray-300">
          <tr
              *ngFor="let item of ayudantias; let i = index"
              class="hover:bg-gray-100 dark:hover:bg-gray-700"
          >
            <td
              class="border-t-0 py-4 pl-6 border-l-0 border-r-0 whitespace-nowrap"
            >
              {{ i + 1 }}
            </td>
            <td
              class="border-t-0 py-4 pl-6 border-l-0 border-r-0 whitespace-nowrap"
            >
              {{ item.nombre_profesor }}
            </td>
            <td
              class="border-t-0 py-4 pl-6 border-l-0 border-r-0 whitespace-nowrap"
            >
              {{ item.rut }}
            </td>
            <td
              class="border-t-0 py-4 pl-6 border-l-0 border-r-0 whitespace-nowrap"
            >
              {{ item.nombre_asignatura }}
            </td>
            <td
              class="border-t-0 p-4 border-l-0 border-r-0 whitespace-nowrap text-center"
            >
              {{ item.grupo }}
            </td>
            <td
              class="border-t-0 p-4 border-l-0 border-r-0 whitespace-nowrap text-center"
            >
              {{ item.cupo }}
            </td>
            <td
              class="border-t-0 p-4 border-l-0 border-r-0 whitespace-nowrap text-center"
            >
              {{ item.horas }}
            </td>
            <td
              class="flex justify-center border-t-0 p-4 border-l-0 border-r-0 whitespace-nowrap"
            >
              <div class="flex justify-center items-center w-44">
                @if (item.estado === 'Creado') {
                  <button class="flex mr-6 justify-center items-center w-9 h-9 rounded-lg focus:outline-none text-white bg-green-700 hover:bg-green-800 focus:ring-4 
                    focus:ring-green-300 dark:bg-green-600 
                    dark:hover:bg-green-700 dark:focus:ring-green-900"
                            type="button"        
                            title="Aprobar"
                            (click)="aprobarAyudantia(item.id)">
                        <i class="fa-regular fa-thumbs-up"></i>
                    </button>
                    <button class="flex justify-center items-center w-9 h-9 rounded-lg focus:outline-none text-white bg-red-700 hover:bg-red-800 focus:ring-4 
                    focus:ring-red-300 dark:bg-red-600 
                    dark:hover:bg-red-700 dark:focus:ring-red-900"
                            type="button"        
                            title="Rechazar"
                            (click)="rechazarAyudantia(item.id)">
                        <i class="fa-regular fa-thumbs-down"></i>
                  </button>
                } @else {
                    @if (item.estado === 'Aprobado') {
                        <span class="text-center mr-4 py-1 w-24 rounded-lg bg-green-300 text-green-950"
                        >{{ item.estado }}</span>
                    } @else {
                        <span class="text-center mr-4 py-1 w-24 rounded-lg bg-red-300 text-red-900"
                        >{{ item.estado }}</span>
                    }
                    <button class="flex justify-center items-center w-9 h-9 rounded-lg focus:outline-none text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 
                    font-medium dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
                            type="button"        
                            title="Reset"
                            (click)="reiniciarEstadoAyudantia(item.id)">
                        <i class="fa-solid fa-repeat"></i>
                    </button>
                }
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
