<div class="container m-auto py-6 px-8"> <!-- container m-auto | w-full -->

    <div class="flex flex-col w-full bg-white rounded-lg shadow-md pt-4 pb-2">
        <h3 class="text-xl text-gray-900 font-semibold px-6 mb-4">Resultados de mis postulaciones</h3>

        <div class="w-full overflow-x-auto">
            <table class="w-full border-collapse">
                <thead>
                    <tr>
                        <th
                            class="px-6 bg-gray-800 text-white py-3 text-sm uppercase whitespace-nowrap font-semibold text-left">
                            N°
                        </th>
                        <th
                            class="px-6 bg-gray-800 text-white py-3 text-sm uppercase whitespace-nowrap font-semibold text-left">
                            CODIGO
                        </th>
                        <th
                            class="px-6 bg-gray-800 text-white py-3 text-sm uppercase whitespace-nowrap font-semibold text-left">
                            ASIGNATURA
                        </th>
                        <th
                            class="px-6 bg-gray-800 text-white py-3 text-sm uppercase whitespace-nowrap font-semibold text-left">
                            PROFESOR
                        </th>
                        <th
                            class="px-6 bg-gray-800 text-white py-3 text-sm uppercase whitespace-nowrap font-semibold text-center">
                            CUPO
                        </th>
                        <th
                            class="px-6 bg-gray-800 text-white py-3 text-sm uppercase whitespace-nowrap font-semibold text-center">
                            HORAS
                        </th>
                        <th
                            class="px-6 bg-gray-800 text-white py-3 text-sm uppercase whitespace-nowrap font-semibold text-center">
                            ESTADO
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of resultados; let i = index" class="hover:bg-gray-100">
                        <td
                            class="border-t-0 px-6 border-l-0 border-r-0 text-sm whitespace-nowrap py-6">
                            {{i + 1}}
                        </td>
                        <td class="border-t-0 px-6 border-l-0 border-r-0 text-sm whitespace-nowrap py-6">
                            {{item.ayudantia?.asignatura?.codigo}}
                        </td>
                        <td class="border-t-0 px-6 border-l-0 border-r-0 text-sm whitespace-nowrap py-6">
                            {{item.ayudantia?.asignatura?.nombre}}
                        </td>
                        <td class="border-t-0 px-6 border-l-0 border-r-0 text-sm whitespace-nowrap py-6">
                            {{item.ayudantia?.profesor?.nombre}} {{item.ayudantia?.profesor?.apellido_paterno}}
                        </td>
                        <td class="border-t-0 px-6 border-l-0 border-r-0 text-sm whitespace-nowrap py-6 text-center">
                            {{item.ayudantia?.cupos}}
                        </td>
                        <td class="border-t-0 px-6 border-l-0 border-r-0 text-sm whitespace-nowrap py-6 text-center">
                            {{item.ayudantia?.horas}}
                        </td>
                        <td class="flex justify-center border-t-0 px-6 border-l-0 border-r-0 whitespace-nowrap py-4">
                            <div *ngIf="item.estado == 'aprobado'" class="flex justify-center items-center w-40 rounded-lg">
                                <p class="inline px-5 py-1 rounded-lg bg-green-200 text-green-800 mr-4">Seleccionado</p>
                            </div>
                            <div *ngIf="item.estado == 'rechazado'" class="flex justify-center items-center w-40 rounded-lg">
                                <p class="inline px-4 py-1 rounded-lg bg-red-200 text-red-700 mr-4">No seleccionado</p>
                            </div>
                            <div *ngIf="item.estado == 'en espera'" class="flex justify-center items-center w-40 rounded-lg space-x-8">
                                <p class="inline px-4 py-1 rounded-lg bg-gray-200 text-gray-700 mr-4">En espera</p>
                            </div>                    
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>

</div>