@if(ayudantiaEdit && asignaturas.length > 0) {
  <form class="shadow-md rounded px-8 pt-6 pb-8 mb-4 w-1/2 mx-auto">
    <div class="mb-4">
      <label class="block text-blue-700 text-sm font-bold mb-2" for="asignatura">
        {{getAsignatura(ayudantiaEdit)?.nombre}}
      </label>
    </div>
    <div class="mb-4">
      <label class="block text-gray-500 dark:text-gray-400 text-sm font-bold mb-2" for="cupos">
        Cupos
      </label>
      <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" 
      id="cupos" name="cupos" type="number" [(ngModel)]="ayudantiaEdit.cupos">
    </div>
    <div class="mb-4">
      <label class="block text-gray-500 dark:text-gray-400 text-sm font-bold mb-2" for="horas">
        Horas
      </label>
      <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" 
      id="horas" name="horas" type="number" [(ngModel)]="ayudantiaEdit.horas">
    </div>
    
    <div class="flex items-center justify-between">
      <button type="button" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
      (click)="actualizarAyudantia()">
        Aceptar
      </button>
      <button class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="button"
      (click)="cancelar()">
        Cancelar
      </button>
    </div>
  </form>
}