

<div class="container m-auto py-6 px-8">
  <button type="button" class="focus:outline-none text-white bg-green-700 hover:bg-green-800 focus:ring-4 
  focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-4 dark:bg-green-600 
  dark:hover:bg-green-700 dark:focus:ring-green-800"
  [routerLink]="['crear']">
  Crear Ayudantia
  </button>
  <div class="flex flex-col w-full bg-white rounded-lg shadow-md pt-4 pb-2 dark:bg-gray-800">
      <h3 class="text-xl text-gray-900 font-semibold px-6 mb-4 dark:text-gray-200">
          Mis solicitudes de ayudantias
      </h3>
      <div class="w-full overflow-x-auto">
          <table class="w-full border-collapse">
              <thead class="text-sm text-white uppercase font-semibold bg-gray-800 dark:bg-gray-600 dark:text-gray-300">
                  <tr>
                      <th scope="col" class="px-6 py-3 whitespace-nowrap text-left">
                          #
                      </th>
                      <th scope="col" class="px-4 py-3 whitespace-nowrap text-left">
                          Asignatura
                      </th>
                      <th scope="col" class="px-4 py-3 whitespace-nowrap text-center">
                          Cupos
                      </th>
                      <th scope="col" class="px-4 py-3 whitespace-nowrap text-center">
                          Horas
                      </th>
                      <th scope="col" class="px-4 py-3 whitespace-nowrap text-center">
                          Estado
                      </th>
                      <th scope="col" class="px-4 py-3 whitespace-nowrap text-center">
                          Acciones
                      </th>
                  </tr>
              </thead>
              <tbody class="text-sm dark:text-gray-300">
                  @for (ayudantia of ayudantiasService.ayudantias; track ayudantia.id_ayudantia) {
                  <tr class="hover:bg-gray-100 dark:hover:bg-gray-700">
                      <td class="border-t-0 py-4 pl-6 border-l-0 border-r-0 whitespace-nowrap">
                          {{ ayudantia.id_ayudantia }}
                      </td>
                      <td class="border-t-0 p-4 border-l-0 border-r-0 whitespace-nowrap">
                          {{ getAsignatura(ayudantia)?.nombre }} {{ getAsignatura(ayudantia)?.letra }}
                      </td>
                      <td class="border-t-0 p-4 border-l-0 border-r-0 whitespace-nowrap text-center">
                          {{ ayudantia.cupos }}
                      </td>
                      <td class="border-t-0 p-4 border-l-0 border-r-0 whitespace-nowrap text-center">
                          {{ ayudantia.horas }}
                      </td>
                      <td class="border-t-0 p-4 border-l-0 border-r-0 whitespace-nowrap text-center">
                          {{ ayudantia.estado }}
                      </td>
                      <td class="flex justify-center border-t-0 p-4 border-l-0 border-r-0 whitespace-nowrap">
                          <div class="flex justify-center items-center w-40 rounded-lg space-x-6">
                              <button class="flex justify-center items-center w-9 h-9 text-white rounded-lg bg-blue-700 hover:bg-blue-800"
                                      type="button"        
                                      title="Editar"
                                      [routerLink]="['editar', ayudantia.id_ayudantia]">
                                  <i class="fa-regular fa-pen-to-square"></i>
                              </button>
                              <button class="flex justify-center items-center w-9 h-9 text-white rounded-lg bg-red-700 hover:bg-red-800"
                                      type="button"
                                      title="Eliminar"
                                      (click)="eliminarAyudantia(ayudantia)">
                                  <i class="fa-regular fa-trash-can" title="Eliminar"></i>
                              </button>
                          </div>  
                      </td>
                  </tr>
                  }
              </tbody>
          </table>
      </div>
  </div>
</div>
