<!-- 
export interface Solicitud {
  id_solicitud: number;
  id_ayudantia: number;
  id_usuario: number;
  fecha: Date;
  estado: string;
  id_periodo: number;
  prioridad: number;
  promedio_asignatura: number;
  anteriormente_ayudante: boolean;
} -->
@if (solicitud) {
<div class="mx-auto">
  <div class="grid md:grid-cols-3 md:gap-6">
    <div class="mb-5 row-span-2 text-center">
      <img class="w-1/3 rounded-full mx-auto" [src]="getUserImage(solicitud)" alt="user photo"/>
    </div>
    <div class="mb-5">
      <label class="text-sm text-gray-500 dark:text-gray-400">ID</label>
      <div class="py-2.5 border-b-2 border-gray-300 text-sm text-gray-900 dark:text-white">
        {{ solicitud.id_solicitud }}
      </div>
    </div>
    <div class="mb-5">
      <label class="text-sm text-gray-500 dark:text-gray-400">Ayudantia</label>
      <div class="py-2.5 border-b-2 border-gray-300 text-sm text-gray-900 dark:text-white">
        {{ getAyudantiaString(solicitud) }}
      </div>
    </div>
    <div class="mb-5">
      <label class="text-sm text-gray-500 dark:text-gray-400">Nombre</label>
      <div class="py-2.5 border-b-2 border-gray-300 text-sm text-gray-900 dark:text-white">
        {{ getNombreEstudiante(solicitud) }}
      </div>
    </div>
    <div class="mb-5">
      <label class="text-sm text-gray-500 dark:text-gray-400">Fecha</label>
      <div class="py-2.5 border-b-2 border-gray-300 text-sm text-gray-900 dark:text-white">
        {{ solicitud.fecha.toString().split('T')[0] }}
      </div>
    </div>
    <div class="mb-5">
      <label class="text-sm text-gray-500 dark:text-gray-400">Prioridad</label>
      <div class="py-2.5 border-b-2 border-gray-300 text-sm text-gray-900 dark:text-white">
        {{ solicitud.prioridad }}
      </div>
    </div>
    <div class="mb-5">
      <label class="text-sm text-gray-500 dark:text-gray-400">Promedio en Asignatura</label>
      <div class="py-2.5 border-b-2 border-gray-300 text-sm text-gray-900 dark:text-white">
        {{ solicitud.promedio_asignatura }}
      </div>
    </div>
    <div class="mb-5">
      <label class="text-sm text-gray-500 dark:text-gray-400">Promedio de Notas</label>
      <div class="py-2.5 border-b-2 border-gray-300 text-sm text-gray-900 dark:text-white">
        {{ getPromedioNotas(solicitud) }}
      </div>
    </div>
    <div class="mb-5">
      <label class="text-sm text-gray-500 dark:text-gray-400">Ayudante Anteriormente</label>
      <div class="py-2.5 border-b-2 border-gray-300 text-sm text-gray-900 dark:text-white">
        {{ solicitud.anteriormente_ayudante ? 'Sí' : 'No' }}
      </div>
    </div>
    <div class="mb-5">
      <label class="text-sm text-gray-500 dark:text-gray-400">Ayudante Anteriormente</label>
      <div class="py-2.5 border-b-2 border-gray-300 text-sm text-gray-900 dark:text-white">
        {{ getEmailEstudiante() }}
      </div>
    </div>
  </div>
  <button class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
    (click)="cancelar()">Volver</button>
</div>
}
